body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #d0efff;
}

header {
    background-color: #03254c;
}

header h1 {
    font-size: 4vw;
    text-align: center;
    padding: 60px 30px 60px 30px;
    color: white;
}
main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid: 20px;
    
}

aside {
    background-color: #2a9df4;
    padding-bottom: 100px;
    border: 1px solid grey;
}

aside h3 {
    font-size: 1.3vw;
    padding: 10px;
}

aside input {
    margin: 10px;
    padding-bottom: 20px;
    width: 60%;
    font-size: 1.2vw;
}

.searchBtn {
    font-size: 1.1vw;
    background-color: #03254c;
    color: white;
}

.city {
    font-size: 1.2vw;
    padding: 10px ;
    background-color: #03254c;
    border: 1px solid grey;
    margin-left: 10px;
    margin-right: 15px;
    width: 85%;
    height: 50px;
    text-align: left;
    color: white;
}

section {
    border: 1px solid;
    border-color: lightgrey;
    margin: 20px;
    padding: 10px;
    border-radius: 3%;
    background-color: #1167b1;
    color: white;
}

#today {
    font-size: 2vw;
    padding-top: 10px;
}
section h2 {
    font-size: 1.5vw;
    margin: 20px 0px 20px 0px;
}


.grid {
    display: grid;
    grid-template-columns: 1fr 3fr

}

#icon {
    border: 2px solid #1167b1;
    margin-right: 30px;
    height: 30%;
    width: 10%;
}

.mainClass {
    margin: 5px 0px 5px 0px;
    font-size: 1.1vw;
    padding-bottom: 20px;
}

article {
    margin: 20px;
}

.h2 {
    font-size: 1.5vw;
}

.forDiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.forecast {
    list-style-type: none;
    flex-direction: row; 
    background-color: #1167b1;
    border: 1px solid;
    border-color: white;
    margin: 20px 20px 0px 0px;
    padding: 20px;
    color: white;
    border-radius: 5%;
}

.forDate {
    font-size: 1.2vw;
}

.forContent {
    margin-top: 10px;
    font-size: 1.1vw;
}